<%- include('header') %>
<h1>What's your zip code?</h1>

<form>
    <fieldset>
        <input type="number" class="form-control" name="zip" placeholder="12345" autofocus required>
        <input type="submit" class="btn btn-primary" value="Go">
    </fieldset>
</form>
<script src="/main.js"></script>

<%- include('footer') %>
